@import "~src/styles/variables";

.tex-area{
  height: 4.4rem;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.label {
  display: block;
  color: $primary-color;
}

.tex-field{
  border-radius: 1rem;
  border: 1px solid $primary-color-black;
  background-color: $secondary-color;
  padding: 0.7rem;
  height: 1.5rem;
  width: 70%;
  &:focus {

    outline: none;
  }
}
