@import "~src/styles/variables";
.input {
  height: 6rem;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

.label {
  display: block;
  color: $primary-color;
}

.input-field {
  height: 1.2rem;
  border-radius: 1rem;
  border: 1px solid $primary-color-black;
  background-color: $secondary-color;
  padding: 0.5rem;
  width: 80%;
  &:focus {

    outline: none;
  }
}
