<div class="nav-biblioteca">

    <div class="conteiner-link"  routerLinkActive="active">
      <a routerLink="/biblioteca" >Tecnologías</a>
      <div class="indicator" ></div>
    </div>
    <div class="conteiner-link" routerLinkActive="active" >
      <a routerLink="#"  >Capacidades</a>
      <div class="indicator" ></div>
    </div>
    <div class="conteiner-link" routerLinkActive="active" >
      <a routerLink="/inicio"  >Bootcamps</a>
      <div class="indicator" ></div>
    </div>

</div>
