@import "~src/styles/variables";
.nav-biblioteca{
  display: flex;
  width: 100%;
  height: 4em;
}
.active {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #e7833d;
  text-decoration: none;


  position: relative;
}

.active .indicator {
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: $primary-color-black;
  border-radius: 0.3em;
  box-shadow: 0px -5px 1rem #e7833d;
}

.conteiner-link{

  padding-top: 1em;
  height: 2.5em;
  width: 8em;
  max-width: 14em;
  border-bottom: $primary-color 0.1em solid;
  &:hover{
    background-color: $secondary-color;
  }
}
.container-link  a{

  display: flex;
  align-items: center;
;
}
a {
  height: 100%;

  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}
