<form *ngIf="bibliotecaForm"  class="formulario-crear" [formGroup]="bibliotecaForm">
 <app-input  labelInput='Nombre' typeInput="text" [control]="bibliotecaForm.controls['name']" ></app-input>
  <div *ngIf="bibliotecaForm.get('name')?.touched" >
    <div *ngIf="bibliotecaForm.get('name')?.errors?.['required']" class="error text-danger"class="error text-danger">Name is required.</div>
    <div *ngIf="bibliotecaForm.get('name')?.errors?.['minLength']" class="error text-danger">Name must be at least 5 characters long.</div>
    <div *ngIf="bibliotecaForm.get('name')?.errors?.['maxLength']" class="error text-danger">Name cannot exceed 50 characters.</div>

  </div>

  <app-tex-area labelText='Descripción'  [control]="bibliotecaForm.controls['description']"></app-tex-area>

    <div *ngIf="bibliotecaForm.get('description')?.touched && bibliotecaForm.get('description')?.errors?.['required']" class="error text-danger">description is required.</div>
    <div *ngIf="bibliotecaForm.get('description')?.touched && bibliotecaForm.get('description')?.errors?.['minLength']" class="error text-danger">description must be at least 5 characters long.</div>
    <div *ngIf="bibliotecaForm.get('description')?.touched && bibliotecaForm.get('description')?.errors?.['maxLength']" class="error text-danger">description cannot exceed 50 characters.</div>

  <app-input *ngIf="form === '1'" labelInput='Capacidades' typeInput="text" [control]="bibliotecaForm.controls['capacities']" ></app-input>
  <div *ngIf="bibliotecaForm.get('capacities')?.touched" >
    <div *ngIf="bibliotecaForm.get('capacities')?.errors?.['required']" class="error text-danger">capacities is required.</div>
    <div *ngIf="bibliotecaForm.get('capacities')?.errors?.['minLength']" class="error text-danger">capacities must be at least 5 characters long.</div>
    <div *ngIf="bibliotecaForm.get('capacities')?.errors?.['maxLength']" class="error text-danger">capacities cannot exceed 50 characters.</div>

  </div>
  <app-buttons textBut="Crear" type="submit" (click)="create()"></app-buttons>

</form>
