<form *ngIf="bibliotecaForm"  class="formulario-crear" [formGroup]="bibliotecaForm">
 <app-input  labelInput='Nombre' typeInput="text" [control]="bibliotecaForm.controls['name']" ></app-input>

  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
    <div *ngIf="name?.errors?.['required']">Name is required.</div>
    <div *ngIf="name?.errors?.['minLength']">Name must be at least 5 characters long.</div>
    <div *ngIf="name?.errors?.['maxLength']">Name cannot exceed 50 characters.</div>

  </div>
  <label for="description">Descripción:</label>
  <textarea id="description" name="description" formControlName="description"></textarea>
  <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
    <div *ngIf="description?.errors?.['required']">description is required.</div>
    <div *ngIf="description?.errors?.['minLength']">description must be at least 5 characters long.</div>
    <div *ngIf="description?.errors?.['maxLength']">description cannot exceed 50 characters.</div>

  </div>


  <label for="capacidades" *ngIf="_capacitiesForm">capa:</label>
  <input type="text" id="capacidades" name="capacidades" formControlName="capacities" *ngIf="_capacitiesForm">
  <div *ngIf="capacities?.invalid && (capacities?.dirty || capacities?.touched)" class="text-danger">
    <div *ngIf="capacities?.errors?.['required']">capacities is required.</div>
    <div *ngIf="capacities?.errors?.['minLength']">capacities must be at least 5 characters long.</div>
    <div *ngIf="capacities?.errors?.['maxLength']">capacities cannot exceed 50 characters.</div>

  </div>
  <app-buttons textBut="Crear" type="submit" (click)="create()"></app-buttons>

</form>
