<form *ngIf="bibliotecaForm"  class="formulario-crear" [formGroup]="bibliotecaForm">
 <app-input  labelInput='Nombre' typeInput="text" [control]="bibliotecaForm.controls['name']" ></app-input>
  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
    <div *ngIf="name?.errors?.['required']">name is required.</div>
    <div *ngIf="name?.errors?.['minLength']">name must be at least 5 characters long.</div>
    <div *ngIf="name?.errors?.['maxLength']">name cannot exceed 50 characters.</div>

  </div>

  <app-tex-area labelText='Descripción'  [control]="bibliotecaForm.controls['description']"></app-tex-area>
  <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="text-danger">
    <div *ngIf="description?.errors?.['required']">description is required.</div>
    <div *ngIf="description?.errors?.['minLength']">description must be at least 5 characters long.</div>
    <div *ngIf="description?.errors?.['maxLength']">description cannot exceed 50 characters.</div>

  </div>
  <!-- <app-input *ngIf="form === '1'" labelInput='Capacidades' typeInput="text" [control]="bibliotecaForm.controls['capacities']" ></app-input>
  <div *ngIf="capacitites?.invalid && (capacitites?.dirty || capacitites?.touched)" class="text-danger">
    <div *ngIf="capacitites?.errors?.['required']">capacitites is required.</div>
    <div *ngIf="capacitites?.errors?.['minLength']">capacitites must be at least 5 characters long.</div>
    <div *ngIf="capacitites?.errors?.['maxLength']">capacitites cannot exceed 50 characters.</div>

  </div> -->
  <app-select-add *ngIf="form === '2'" [items]="items"></app-select-add>
  <app-buttons id="boton-crear" textBut="Crear" type="submit" (click)="create()"></app-buttons>

</form>
