<app-general-page>
  <app-nav-biblioteca></app-nav-biblioteca>
  <app-slider (itemsPerPageChange)="onItemsPerPageChange($event)" (order)="loadItems($event)"></app-slider>
  <div class="container-data">
    <div class="content" *ngFor="let item of items | paginate: { itemsPerPage: itemsPage, currentPage: page }">
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
    </div>
  </div>
  <app-alert *ngIf="itemError" class="error" message="{{itemError}}"></app-alert>
  <app-created-emergente titleEmergente="Crear Tecnolgía" (closed)="hideFormOnVentanaClose()" *ngIf="ventanaFormVisible">
    <app-form [form]="formItem" [items]="itemsForSelect"></app-form>
  </app-created-emergente>
  <app-buttons textBut="+ Crear" id="button-created" (buttonClicked)="hideFormOnButtonClick($event)"></app-buttons>
  <div class="controls">
    <pagination-controls  (pageChange)="pageChanged($event)" previousLabel="Prev" nextLabel="Next" [responsive]="true" class="pagination-spreads"></pagination-controls>

  </div>
  <app-created-emergente id="created-succes" (closed)="hideFormOnVentanaClose()" class="succes" *ngIf="ventanaExitosoFormVisible">
    <img src="../utils/check-mark-2180770_1280.svg" alt="">
    <p>{{itemCreated}}</p>
  </app-created-emergente>
</app-general-page>
