body{
  height: 100%;
  width: 100%;


}
//HEADER
header{
  width: 100%;
  height: 10%;
  margin: 0;
  display: flex;
}
.logo{
  width: 20%;
  height: 100%;
  background-color: #fdf1e9;
}
.usuario{
  width: 80%;
  height: 100%;
  background-color: #eea877;
  border-bottom-right-radius: 3cap;
}
///
//NAV
nav{
  width: 25%;
  height: 100%;
  background-color:  #fdf1e9;
}
.active  {

  display: flex;
  justify-content: center;
  background-color: #f4c5a4;
  color: #e7833d;
  text-decoration: none;
}
.conteiner-link{

  padding-top: 14px;
  height: 30px;
  width: 100%;
}
.container-link li a{


  display: flex;
  align-items: center;
;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 a {
  height: 100%;

  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}
///
.body{
  display: flex;
  height: 90%;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
}
