<html>
  <body>
    <header>
      <div class="logo">
        <p class="onclass">Onclass</p>
      </div>
      <div class="usuario">
        <p>Usuario</p>
      </div>
    </header>

    <div class="body">
      <nav>
        <div>
          <ul>
            <div class="conteiner-link" routerLinkActive="active" >
              <li>
                <a routerLink="/inicio"  >Inicio</a>
              </li>
            </div>
            <div class="conteiner-link"  routerLinkActive="active" >
              <li>
                <a routerLink="/biblioteca" >Biblioteca</a>
              </li>
            </div>
          </ul>
        </div>
      </nav>

      <div class="container">
        <ng-content></ng-content>

      </div>
    </div>
  </body>
</html>
